django-rest-framework
django
django-cors-headers
psycopg2-binary
networkx
scikit-learn
pdfminer
pdfplumber
nltk
boto3
requests
elasticsearch
torch
transformers
opencv-python
numpy 
pandas
cairosvg
python-chess
matplotlib
tensorflow
grpcio
tensorflow-serving-api